@import url(https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap);
:root{
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--sans );
    background-color: #fff;
    color: var(--white);
    font-size: var(--font-size);
}


h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

a{
    color: var(--aqua);
    text-decoration: none;
}
   
a:hover{
    color: var(--white);
    text-decoration: none;
}

img{
    width: 100%;
}

#suffixlogo img{
    height: 130px;
    width: 130px;
    
}

nav{
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    flex: row wrap;
    margin-right: 1rem;
    margin-left: 30rem;

    
}

#mobile{
    display: none;
    align-items: center;

}

#close{
    display: none;
}

/*
nav li:first-child{
    flex-basis: auto;
    justify-self: left;
    margin-right: auto;
}
*/

.gradient{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 5px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    background-image: url("../Assets/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--dkblue);
    padding: 40px 80px;
    margin: 0;

}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span{
    font-size: 14px;
    font-weight: 600;
    color: #ffbd27;
}

#newsletter h4 span{
    font-size: 22px;
    font-weight: 700;
    color: red;
}


#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.24em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: var(--aqua);
    color: black;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


.section-black{
    background-color: black;
}

#products{
    display: flex;
    flex-wrap: wrap;
   /*margin: 5rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    margin: 2rem;
    justify-content: space-between;
    padding: 2rem 3rem 2rem;
}
/*
.container{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid red;
}
*/

#products .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px !important;
    width: 350px !important;
    background-color: white;
    box-shadow: 20px 20px 20px #eee;
    margin-top: 50px;
    border: solid 5px #eee;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.container .text{
    text-align: left;

    padding: 10px;
    width: 100%;
    height: auto;
    margin: 0;
}

.container .text p{
    display: block;
    padding: 0;
    margin: 0;
    font-size:medium;
}

.container .text .price{
    border-top: 2px solid #eee;
    padding-top: 10px;
    border-bottom: 2px solid #eee;
}



/*
.container{
    border: 1px solid orange;
    height: 400px;
    width: 400px;
    position: inherit;
    padding: 10px 50px auto;
    
}
*/

.container video{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.container img{
    width: 100%;
    height: 100%;
    
    
}


#products p{
    padding: 0rem;
    text-align: left;
}





.category-title{
    flex-basis: 100%;
    padding-left: 2rem;
    margin-bottom: 0.5rem;

}

#about{
    color: black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px 10px;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li{
    padding: 5px 0 5px;
    margin: 0;
    
}


footer .column .follow ul{
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    margin-top: 3px;
    
    
}


footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

footer .column .about{
    padding-top: 40px   ;
}

footer .column .faq{
    padding-top: 40px   ;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    line-height: 10px;
    padding: 1rem auto;
    display: block;

}


footer p{
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: block;
}



footer .copyright{
    width: 100%;
    text-align: center;
    
}

footer img{
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;

}

#about h2{
    background-color: var(--white);
    padding: 10px;
}

article{
    padding: 10px;
    font-family: var(--mono);
    padding: 10px 10px 0px;
}

.section-varwhite{
    background-color: var(--white);
    height: 100px;
    margin: 0;

}



.call input{
    margin: 0;
    height: 30px;

}

.call form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
}

.call button{
    
    background-color: var(--dkblue);
    border-radius: 3px;
    flex-basis: 100%;
    margin-right: 90%;
    padding: 1px 0px 1px;
    display: inline;
    color: white;

}

.call button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

#contact{
    color: black;
    margin: 10px;
    padding: 10px;
}

#contact .email{
    margin-top: 20px;
}

#contact .email button{
    margin-top: 20px;
}

#contact .email button{
    background-color: var(--dkblue);
    color: var(--white);
}

#contact .email button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

#faqs{
    margin: 10px;
    color: black;
}

#privacy{
    color: black;
}

#copyright{
    color: black;
}

@media (max-width: 850px) {
    /*800
    nav{
        font-family: var(--mono);
        font-size: 80%;
        padding: 1rem;
        width: 375px;
    }*/

    
    nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        margin-right: 10px;
        position: fixed;
        right: -310px;
        top: 0;
        height: 59vh;
        width: 300px;
        padding: 80px 0 0 10px;
        background-color: var(--black);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        z-index: 100;
        
    }

    #navbar.active{
        right: 0px;
    }

    nav li{
        margin-bottom: 25px;
        
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        color: var(--white);
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    
    #mobile span{
        color: var(--white);
        font-size: 30px;
        padding-left: 20px;


    }
    
    #products {
        gap: 1rem;;
        align-items: center;
        padding: 2rem 0;
        margin: 0;
    }

   
   .container{
    margin: 10px;
    height: 400px !important;
    width: 300px !important;
 }

   #intro{
    padding: 0 80px;
    margin: 20px auto; 
}

    #newsletter{
        padding: 20px;
    }
   #newsletter .form{
    width: 50%;
   }

   footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }

   #clients{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        padding: 15px;
   }

   .client img{
    width: 50px;
    height: 50px;
   }

.client{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 15px;
    padding: 2rem 2rem;
}
}


@media (max-width: 800px) {
    nav{
        padding: 10px 30px 10px 0;
        
    }

    

    #intro span {
        
        font-size: 3rem;
        margin-top: 0;
        
        
    }

    #intro{
        padding: 0 20px;
    }

    
    #newsletter{
        padding: 20px 10px;
    }

    #newsletter .form{
        width: 100%;
    }
}


#pagination{
    text-align: center;
    padding: 0.5rem;
    margin: 2rem;
}

#pagination a{
    text-decoration: none;
    background-color: var(--dkblue);
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
    color: var(--white);

}

#pagination a span{
    font-size: 16px;
    font-weight: 600;
}